<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2.0" package="com.jered.ccvmobile2" android:versionCode="5">
	<uses-sdk />
	<application android:label="CCV Mobile 2" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>